.list_container {
    background-color: azure;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.name {
    font-size: 22px;
}

.btn_back {
    background-color: cornflowerblue;
    min-width: 150px;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}